body{
    margin: 0;
}

.main-login{
    width: 100vw; 
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    color: #77ffc0;
}

.right-login{
    width: 50vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*
display: flex; organiza os elementos de lado-a-lado

justify-content: center; justifica e centraliza os elementos no eixo x

align-items: center; centraliza os elementos no eixo y

flex-direction: column; organizar em forma de coluna

width:60%; neste caso .card-login faz parte de .right-login, ou seja o width será 60% de 50vw

vw= viewport width
vh= viewport height
As unidades vw (viewport width) e vh (viewport height) são medidas relativas usadas em CSS para dimensionar 
elementos com base no tamanho da área visível do navegador, conhecida como viewport.
Detalhamento:
vw (viewport width):
Representa 1% da largura da viewport.
Por exemplo:
Se a largura da viewport é de 1000 pixels:
1vw = 10px
50vw = 500px (metade da largura da viewport)
vh (viewport height):

Representa 1% da altura da viewport.
Por exemplo:
Se a altura da viewport é de 800 pixels:
1vh = 8px
100vh = 800px (altura total da viewport)
*/